/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

body {
  font-family: 'Fira Sans', 'Source Sans Pro', 'Open Sans', sans-serif;
}

article img {
  background-color: #ffffff;
  width: 600px;
  border-radius: 5px;
  padding: 1em;
}

html[data-theme="light"] article img {
  border: 1px solid #cccccc;
}

html[data-theme="dark"] article img {
  border: 1px solid #444444;
}

html[data-theme="light"] .doc-page > div > div {
  border: 1px solid #eeeeee;
  background-color: #fcfcfc;
}

html[data-theme="dark"] .doc-page > div > div {
  border: 1px solid #272727;
  /* background-color: #242526; */
}

html[data-theme="light"] .navbar {
  background-color: #efefef;
}

/* html[data-theme="light"] hr {
  border-color: #e4e4e4;
} */

html[data-theme="dark"] hr {
  border-color: #444444;
}

html[data-theme="dark"] .alert--secondary {
  background-color: #aaaaaa;
  border: none
}
.menu {
  font-weight: normal;
}
.prism-code .token-line {
  font-weight: 600 !important;
}
.footer--dark {
  background-color: #222324;
}

html[data-theme="light"] .footer--dark {
  background-color: #777879;
}


/* html[data-theme="light"] div[class*="codeBlockTitle"] {
  border-bottom: 1px solid #cccccc;
} */

html[data-theme="light"] .docusaurus-highlight-code-line {
  background-color: #dddddd !important;
}


/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #61b367;
--ifm-color-primary-dark: #51a857;
--ifm-color-primary-darker: #4c9e52;
--ifm-color-primary-darkest: #3f8244;
--ifm-color-primary-light: #74bc79;
--ifm-color-primary-lighter: #7dc082;
--ifm-color-primary-lightest: #99ce9d;
  /* --ifm-color-primary: #4e89e8;
--ifm-color-primary-dark: #3377e4;
--ifm-color-primary-darker: #256ee3;
--ifm-color-primary-darkest: #1959c0;
--ifm-color-primary-light: #699bec;
--ifm-color-primary-lighter: #77a4ed;
--ifm-color-primary-lightest: #a0c0f3; */
  /* --ifm-color-primary: #f56267;
  --ifm-color-primary-dark: #f34248;
  --ifm-color-primary-darker: #f23238;
  --ifm-color-primary-darkest: #e20e16;
  --ifm-color-primary-light: #f78286;
  --ifm-color-primary-lighter: #f89296;
  --ifm-color-primary-lightest: #fbc3c5; */
  /* --ifm-color-primary: #a9dc6a;
--ifm-color-primary-dark: #9ad650;
--ifm-color-primary-darker: #92d342;
--ifm-color-primary-darkest: #7ab92b;
--ifm-color-primary-light: #b8e284;
--ifm-color-primary-lighter: #c0e592;
--ifm-color-primary-lightest: #d7efb9; */
  /* --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%; */
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
